body {
    font: 120% "Graphik", sans-serif;
    background-color: burlywood;
    letter-spacing: 0.7px;
    color: #222;
    margin: 0 auto;
    max-width: 40em;
}

h1 {
    color: #222;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
a {
    text-align: center;
}

.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    text-align:center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
